name: flutter_globe_3d
description: "A 3D Globe."
version: 0.0.2
homepage: https://github.com/XiaoNaoWeiSuo/flutter_globe_3d
repository: https://github.com/XiaoNaoWeiSuo/flutter_globe_3d


environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  vector_math: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  generate: true
  assets:
    - assets/shaders/globe.frag
  shaders:
    - assets/shaders/globe.frag
  